/* Custom CSS */
:root {
  --pico-primary: #00A66E;
}

.hamburger {
    color: #00895A;
}

.author-hero-links a {
    color: #777777;
}

.youtube-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto; /* Overrides fixed height if necessary */
}