/* Custom CSS */
:root {
  --pico-primary: #A780D4;
}

.hamburger {
  color: #00895A;
}

.author-hero-links a {
  color: #777777;
}

.youtube-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  /* Overrides fixed height if necessary */
}

.read-more-link {
  color: var(--pico-primary);
  border: 0.0625rem solid var(--pico-primary);
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}